
{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, ["apps/mmmbot"
            ,"apps/mmmbot_images"]}.
{lib_dirs, ["apps"]}.

{deps, [
       {lager, "", {git, "https://github.com/basho/lager.git", "master"}}
       ,{erlcloud , "", {git, "https://github.com/gleber/erlcloud.git", "master"}}
       ,{ibrowse, "", {git, "https://github.com/cmullaparthi/ibrowse.git", "master"}}
       ]}.
