
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {lager, "", {git, "https://github.com/basho/lager.git", "master"}}
       ,{erlcloud , "", {git, "https://github.com/gleber/erlcloud.git", "master"}}
       ,{ibrowse, "", {git, "https://github.com/cmullaparthi/ibrowse.git", "master"}}
       ]}.
