[ 
  {mmmbot, [{host, "<IRC NETWORK>"},
            {port, 6667},
            {nickname, "mmmbot"},
            {channel, "<CHANNEL>"}]},

  {mmmbot_images, [{access_key, "<AWS KEY>"},
                   {secret_key, "<SECRET KEY>"},
                   {bucket, "<S3 BUCKET>"}]},
                   
  {lager, [
           {handlers, [
                        {lager_console_backend, info}
                      ]}
          ]}   
].
